* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    position: absolute;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 70%;
    transform: translate(-50%, -50%);

    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 8px 20px black;

    opacity: 99%;
}
.results {
    position: relative;
    text-align: left;
    margin-bottom: 20px;
    border: black 1px solid;
    padding: 10px;
    min-width: 50%;
    text-align: center;
}
.btn {
    font-size: 20px;
    min-width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 10px;
}
.btn:hover {
    transition: 0.3s;
    color: white;
    background-color: black;
    cursor: pointer;
}
body {
    background: url('light-pipes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
input {
    margin: 10px;
    min-width: 75%;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    
    background-image: url('mag-glass.png');
    background-size: 25px;
    background-repeat: no-repeat;
}
input:hover {
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
li {
    position: relative;
    margin: 10px;    
}
li:hover {
    font-weight: bold;
}
